*{
    margin: 0;
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    font-family: 'Poppins', sans-serif;
}

/* header styles */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    width: 80%;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    padding: 5px 10px;
}

/* start section style */

.start-container{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.start-content{
    width: 50%;
}
.start-content h1{
    font-size: 30px;
}
.start-content p{
    font-size: 14px;
    margin: 15px 0px;
}
#prebookBtn{
        padding: 10px 30px;
        background-color: palevioletred;
        border: none;
        border-radius: 30px;
        color: white;
}
.start-img{
    width: 50%;
}
.start-img img{
    display: block;
    width: 80%;
    margin: auto;
}

/* popular collection styles */

.popular-collection-container{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.popular-collection-container h3{
    text-align: center;
    margin-bottom: 30px;
}
.popular-collection-container>p{
    text-align: right;
    margin: 50px 0px;
    color: palevioletred;
}
.collection-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    column-gap: 30px;
}
.collection-item{
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 10px;
    border-radius: 5px;
}

.rating-box{
    background-color: yellowgreen;
}

/* footer styles */

footer{
    height: 160px;
    background-color: navy;
    color: white;
    text-align: center;
    padding-top: 80px;
}
.social-link-box {
    display: flex;
    justify-content: center;
}
.link-item{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: rgb(88, 88, 114);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 5px;
    
}

/* new trend styles */

.new-trend-cotainer{
    width: 80%;
    margin: auto;
    
}
.new-trend-cotainer h1{
    text-align: center;
    margin: 30px;
}
.trend-items{
    display: flex;
    justify-content: space-between;
}
.trend-item{
    width: 30%;
}
.trend-content{
    width: 70%;
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    position: relative;
    margin: auto;
    top: -45px;
    
}
.trend-content h4{
    line-height: 22px;
    margin-bottom: 10px;
}
.trend-content a{
    color: black;
}


